@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    overflow-x: hidden;
}
.UpperTextBox{
    justify-content: center;
    align-items: center; 
}
.main1{
    justify-content: center;
    align-items: center;   
}
.main2{
    margin-left:38.8vw;
    padding-top: 2vh;  
}
.main3{
    margin-left:6.2vw;
    padding-top: 4.5vh;  
}

.CovidAnimation img{
width: 27vw;
height: 50vh;
margin-top: -6vh;



}
.CovidText{
   margin-left: 8vw;
}
.CovidText h1{
font-size: 4vw;
}
   
.CovidText p{
    font-size: 1.5vw;
    font-weight: 600;
}
.foot3{
    height: 1.4vh;
}

 
 
  


